@import "~font-awesome/css/font-awesome.css";

body {
  position: relative;
  color: white;
  height: 100vh;
  background-image: linear-gradient(45deg, rgba(0, 216, 255, 0.5) 10%, rgba(0, 1, 127, 0.7));
  font-family: Roboto, Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}
* {
  box-sizing: border-box;
}
h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}

p {
  font-size: 12px;
  line-height: 20px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.scrollbar-container {
  position: relative;
  height: 100%;
}
/* perfect-scrollbar v0.7.0 */
.ps-container {
  -ms-touch-action: auto;
  touch-action: auto;
  overflow: hidden !important;
  -ms-overflow-style: none; }
  @supports (-ms-overflow-style: none) {
    .ps-container {
      overflow: auto !important; } }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps-container {
      overflow: auto !important; } }
  .ps-container.ps-container--active-x > .ps-container__scrollbar-x-rail,
  .ps-container.ps-container--active-y > .ps-container__scrollbar-y-rail {
    display: block;
    background-color: transparent; }
  .ps-container.ps-container--in-scrolling.ps-container--x > .ps-container__scrollbar-x-rail {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container.ps-container--in-scrolling.ps-container--x > .ps-container__scrollbar-x-rail > .ps-container__scrollbar-x {
      background-color: #999;
      height: 11px; }
  .ps-container.ps-container--in-scrolling.ps-container--y > .ps-container__scrollbar-y-rail {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container.ps-container--in-scrolling.ps-container--y > .ps-container__scrollbar-y-rail > .ps-container__scrollbar-y {
      background-color: #999;
      width: 11px; }
  .ps-container > .ps-container__scrollbar-x-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    bottom: 0px;
    /* there must be 'bottom' for ps-container-container-container__scrollbar-x-rail */
    height: 15px; }
    .ps-container > .ps-container__scrollbar-x-rail > .ps-container__scrollbar-x {
      position: absolute;
      /* please don't change 'position' */
      background-color: #aaa;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
      transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
      -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
      -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
      transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
      transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
      bottom: 2px;
      /* there must be 'bottom' for ps-container-container-container__scrollbar-x */
      height: 6px; }
    .ps-container > .ps-container__scrollbar-x-rail:hover > .ps-container__scrollbar-x, .ps-container > .ps-container__scrollbar-x-rail:active > .ps-container__scrollbar-x {
      height: 11px; }
  .ps-container > .ps-container__scrollbar-y-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    opacity: 0;
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
    right: 0;
    /* there must be 'right' for ps-container-container-container__scrollbar-y-rail */
    width: 15px; }
    .ps-container > .ps-container__scrollbar-y-rail > .ps-container__scrollbar-y {
      position: absolute;
      /* please don't change 'position' */
      background-color: #aaa;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
      transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;
      -o-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
      -moz-transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
      transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;
      transition: background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;
      right: 2px;
      /* there must be 'right' for ps-container-container-container__scrollbar-y */
      width: 6px; }
    .ps-container > .ps-container__scrollbar-y-rail:hover > .ps-container__scrollbar-y, .ps-container > .ps-container__scrollbar-y-rail:active > .ps-container__scrollbar-y {
      width: 11px; }
  .ps-container:hover.ps-container--in-scrolling.ps-container--x > .ps-container__scrollbar-x-rail {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container:hover.ps-container--in-scrolling.ps-container--x > .ps-container__scrollbar-x-rail > .ps-container__scrollbar-x {
      background-color: #999;
      height: 11px; }
  .ps-container:hover.ps-container--in-scrolling.ps-container--y > .ps-container__scrollbar-y-rail {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container:hover.ps-container--in-scrolling.ps-container--y > .ps-container__scrollbar-y-rail > .ps-container__scrollbar-y {
      background-color: #999;
      width: 11px; }
  .ps-container:hover > .ps-container__scrollbar-x-rail,
  .ps-container:hover > .ps-container__scrollbar-y-rail {
    opacity: 0.6; }
  .ps-container:hover > .ps-container__scrollbar-x-rail:hover {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container:hover > .ps-container__scrollbar-x-rail:hover > .ps-container__scrollbar-x {
      background-color: #999; }
  .ps-container:hover > .ps-container__scrollbar-y-rail:hover {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container:hover > .ps-container__scrollbar-y-rail:hover > .ps-container__scrollbar-y {
      background-color: #999; }

      /* perfect-scrollbar v0.7.1 */
.ps-container{-ms-touch-action:auto;touch-action:auto;overflow:hidden !important;-ms-overflow-style:none}@supports (-ms-overflow-style: none){.ps-container{overflow:auto !important}}@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){.ps-container{overflow:auto !important}}.ps-container.ps-container-container--active-x>.ps-container__scrollbar-x-rail,.ps-container.ps-container-container--active-y>.ps-container__scrollbar-y-rail{display:block;background-color:transparent}.ps-container.ps-container-container--in-scrolling.ps-container-container--x>.ps-container__scrollbar-x-rail{background-color:#eee;opacity:.9}.ps-container.ps-container-container--in-scrolling.ps-container-container--x>.ps-container__scrollbar-x-rail>.ps-container__scrollbar-x{background-color:#999;height:11px}.ps-container.ps-container-container--in-scrolling.ps-container-container--y>.ps-container__scrollbar-y-rail{background-color:#eee;opacity:.9}.ps-container.ps-container-container--in-scrolling.ps-container-container--y>.ps-container__scrollbar-y-rail>.ps-container__scrollbar-y{background-color:#999;width:11px}.ps-container>.ps-container__scrollbar-x-rail{display:none;position:absolute;opacity:0;-webkit-transition:background-color .2s linear, opacity .2s linear;-moz-transition:background-color .2s linear, opacity .2s linear;-o-transition:background-color .2s linear, opacity .2s linear;transition:background-color .2s linear, opacity .2s linear;bottom:0px;height:15px}.ps-container>.ps-container__scrollbar-x-rail>.ps-container__scrollbar-x{position:absolute;background-color:#aaa;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;-moz-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;-o-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;bottom:2px;height:6px}.ps-container>.ps-container__scrollbar-x-rail:hover>.ps-container__scrollbar-x,.ps-container>.ps-container__scrollbar-x-rail:active>.ps-container__scrollbar-x{height:11px}.ps-container>.ps-container__scrollbar-y-rail{display:none;position:absolute;opacity:0;-webkit-transition:background-color .2s linear, opacity .2s linear;-moz-transition:background-color .2s linear, opacity .2s linear;-o-transition:background-color .2s linear, opacity .2s linear;transition:background-color .2s linear, opacity .2s linear;right:0;width:15px}.ps-container>.ps-container__scrollbar-y-rail>.ps-container__scrollbar-y{position:absolute;background-color:#aaa;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, -webkit-border-radius .2s ease-in-out;-moz-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;-o-transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out;transition:background-color .2s linear, height .2s linear, width .2s ease-in-out, border-radius .2s ease-in-out, -webkit-border-radius .2s ease-in-out, -moz-border-radius .2s ease-in-out;right:2px;width:6px}.ps-container>.ps-container__scrollbar-y-rail:hover>.ps-container__scrollbar-y,.ps-container>.ps-container__scrollbar-y-rail:active>.ps-container__scrollbar-y{width:11px}.ps-container:hover.ps-container-container--in-scrolling.ps-container-container--x>.ps-container__scrollbar-x-rail{background-color:#eee;opacity:.9}.ps-container:hover.ps-container-container--in-scrolling.ps-container-container--x>.ps-container__scrollbar-x-rail>.ps-container__scrollbar-x{background-color:#999;height:11px}.ps-container:hover.ps-container-container--in-scrolling.ps-container-container--y>.ps-container__scrollbar-y-rail{background-color:#eee;opacity:.9}.ps-container:hover.ps-container-container--in-scrolling.ps-container-container--y>.ps-container__scrollbar-y-rail>.ps-container__scrollbar-y{background-color:#999;width:11px}.ps-container:hover>.ps-container__scrollbar-x-rail,.ps-container:hover>.ps-container__scrollbar-y-rail{opacity:.6}.ps-container:hover>.ps-container__scrollbar-x-rail:hover{background-color:#eee;opacity:.9}.ps-container:hover>.ps-container__scrollbar-x-rail:hover>.ps-container__scrollbar-x{background-color:#999}.ps-container:hover>.ps-container__scrollbar-y-rail:hover{background-color:#eee;opacity:.9}.ps-container:hover>.ps-container__scrollbar-y-rail:hover>.ps-container__scrollbar-y{background-color:#999}
